body {
    min-width: 750px;
}

#email-field {
    max-width: 300px;
}

form label {
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.5em;
}

/*textarea {*/
    /*margin-bottom: 20px;*/
/*}*/

#savediv {
    margin-top: 20px;
}

/*textarea :last-child {*/
    /*padding-bottom: 100px;*/
/*}*/

footer {
    margin-top: 10px;
    text-align: center;
}

footer p {
    font-style: italic;
}

/*#noteh1 {*/
    /*text-align: center;*/
/*}*/

#notes-header {
    text-align: center;
    /*position: absolute;*/
    /*left: 50%;*/
    /*right: 50%;*/
}

#notes-section button {
    margin-bottom: 10px;
}

.settings-textarea-block {
    /*display: flex;*/

}

.input-group {
    display: flex;
}

#settings-row-1 {
    /*margin-top: 30px;*/
    display: flex;
    justify-content: space-around;
}

#settings-row-2 label {
    display: block;
}

#settings-row-2 label, #settings-row-2 p {
    text-align: center;

}

#settings-row-2 p {
    font-style: italic;
}